PORT=3000
QR_PASSWORD=Shahzaibkundi9
API_KEY=mega-key
JWT_SECRET=1cH9qPz7JkLw2sXeV8bN4rFq
POSTGRES_URL=postgresql://neondb_owner:npg_aixEPojJ48OU@ep-small-leaf-ahuu2acc-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
MODE=single
